<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hackathon Project</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <div class="inputarea">
        <h1>Input</h1>
        <form id="hackathon-form" method="post">
            <label for="textQuery">Text Query:</label>
            <textarea id="textQuery" height="200"></textarea>

            <label for="idNumber">Graph ID Number:</label>
            <textarea type="text" id="idNumber"></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <img src="../static/the-graph-grt-logo.png" width="100" height="100" alt="TheGraphLogo" class="graphlogo">
        <h1>GTS</h1>
        <h1>Graph-To-Speech</h1>
    </div>

    <div class="outputarea">
        <div>
            <h1>Response</h1>
            <div class="response">
                {% if request.method == "POST" %}
                {{result}}
                {% else %}
                Enter a Query
                {% endif %}
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>

</body>

</html>